table, td, tr, th{
	border: 1px solid white;
	border-collapse: collapse;
	margin: auto;
	text-align: center;
	color: white;
	width: 1000px;
	height: 60px;
}
body{
	background-color: #FF0000;
	margin: auto;
}
table{
	background-color: rgb(0, 147, 255)
}
h1{
	color: white;
	text-align: center;
	font-family: 'Merriweather', serif;
}
.bold{
	font-weight: bold;
}